In [1]:
import pandas as pd
import numpy as np
import random

In [ ]:
copyright = pd.read_csv("/egr/research-dselab/chenkan4/Experiments/Assemble/concept_gen_eva/datasets/csvs/copyright_prompts.csv")

In [8]:
df = pd.read_csv("celebrities.csv")
df["name"] = df["image"].apply(lambda x: x[:-4])
df["evaluation_seed"] = np.random.randint(0, 65536, size=200)

In [9]:
df

,image,prompt,name,evaluation_seed
0,taylor_swift.jpg,"Taylor Swift, detailed eyes and skin, araffed ...",taylor_swift,44811
1,eden_hazard.jpg,"eden_hazard, detailed eyes and skin, araffed s...",eden_hazard,26299
2,angela_merkel.jpg,"angela_merkel, detailed eyes and skin, arafed ...",angela_merkel,19104
3,bruno_fernandes.jpg,"bruno_fernandes, detailed eyes and skin, a clo...",bruno_fernandes,19303
4,odell_beckham_Jr.jpg,"odell_beckham_Jr, detailed eyes and skin, araf...",odell_beckham_Jr,8249
...,...,...,...,...
195,conor_mcgregor.jpg,"conor_mcgregor, detailed eyes and skin, a clos...",conor_mcgregor,4728
196,justin_trudeau.jpg,"justin_trudeau, detailed eyes and skin, arafed...",justin_trudeau,31223
197,kim_kardashian.jpg,"kim_kardashian , detailed eyes and skin, arafe...",kim_kardashian,40444
198,zlatan_ibrahimovic.jpg,"zlatan_ibrahimovic, detailed eyes and skin, th...",zlatan_ibrahimovic,50586
199,john_fitzgerald_kennedy.jpg,"john_fitzgerald_kennedy, detailed eyes and ski...",john_fitzgerald_kennedy,51816

In [10]:
df[["name", "evaluation_seed", "prompt"]].to_csv("celebrity_prompts.csv", index_label="case_number")